<!DOCTYPE HTML>
<!--
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>PYRO TEAM</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header Wrapper -->
			<div class="wrapper style1">
			
			<!-- Header -->
				<div id="header">
					<div class="container">
							
						<!-- Logo -->
							<!-- <h1><a href="#" class="image"><img src="images/logoPyro_small.png" alt=""></a></h1> -->
							<h1><a href="#" id="logo">PYRO TEAM</a></h1>
						
						<!-- Nav -->
							<nav id="nav">
								<!-- <ul>
									<li class="active"><a href="index.html">Home</a></li>
									<li>
										<a href="">Dropdown</a>
										<ul>
											<li><a href="#">Lorem ipsum dolor</a></li>
											<li><a href="#">Magna phasellus</a></li>
											<li><a href="#">Etiam dolore nisl</a></li>
											<li>
												<a href="">Phasellus consequat</a>
												<ul>
													<li><a href="#">Lorem ipsum dolor</a></li>
													<li><a href="#">Phasellus consequat</a></li>
													<li><a href="#">Magna phasellus</a></li>
													<li><a href="#">Etiam dolore nisl</a></li>
													<li><a href="#">Veroeros feugiat</a></li>
												</ul>
											</li>
											<li><a href="#">Veroeros feugiat</a></li>
									</li>
									<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
								</ul> -->
								<ul>
									<li class="active"><a href="index.html">Projet</a></li>
									<li><a href="sponsoring.html">Sponsoring</a></li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</nav>
	
					</div>
				</div>
				
			<!-- Banner -->
				<div id="banner">
					<section class="container">
						<div><img src="images/logoPyro_cadre.png" alt=""></div>	
						<span></span>	
						<span></span>	
						<span></span>	
						<!-- <h2>PYRO TEAM</h2> -->
						<!-- <span>Design by Templated</span> -->
						<!-- <p>Pellentesque pede. Donec pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. Vestibulum sem magna.</p> -->
					</section>
				</div>

			</div>
		
		<!-- Section One : Robocup-->
			<div class="wrapper style2">
				<section class="container">
					<div class="row double">
						<div class="6u">
							<header class="major">
								<h2><!-- TODO:  --></h2>
								<span class="byline"><!-- TODO:  --></span>
							</header>
						</div>
						<div class="6u">
							<h3>Robocup</h3>
							<p><!-- TODO:  --></p>
							<a href="http://www.robocup2015.org/" target="_blank" class="button">Robocup 2015 Website</a>
						</div>
					</div>
				</section>
			</div>

		<!-- Section Two : Logistic League-->
			<div class="wrapper style3">
				<section class="container">
					<header class="major">
						<h2>Logistic League</h2>
					</header>
					<p><!-- TODO:  --></p>
					<a href="http://www.robocup-logistics.org/" target="_blank" class="button alt">Logitic League Website</a>
				</section>
			</div>

		<!-- Section Three : Notre Projet-->
			<div class="wrapper style4">
				<section class="container">
					<header class="major">
						<h2>Notre Projet</h2>
						<span class="byline">Résumé en quelques objectifs</span>
					</header>
					<div class="row flush">
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-users"></span>
									<h3>Equipe pérenne</h3>
									<p><!-- TODO:  --></p>
								</li>
								<li>
									<span class="fa fa-flag"></span>
									<h3>Représenter la France</h3>
									<p><!-- TODO:  --></p>
								</li>
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-bullhorn"></span>
									<h3>Promouvoir</h3>
									<p><!-- TODO:  --></p>
								</li>
								<li>
									<span class="fa fa-plane"></span>
									<h3>Heifei 2015 (Chine)</h3>
									<p><!-- TODO:  --></p>
								</li>
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-line-chart"></span>
									<h3>Faire progresser la recherche</h3>
									<p><!-- TODO:  --></p>
								</li>
								<li>
									<span class="fa fa-trophy"></span>
									<h3>Leipzig 2016 (Allemagne) - Podium</h3>
									<p><!-- TODO:  --></p>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>
		
		<!-- Team -->
			<div class="wrapper style5">
				<section id="team" class="container">
					<header class="major">
						<h2>L'équipe PolYtech RObocup</h2>
						<p class="byline">Sept passionés, fédérés autour de la même ambition</p>
					</header>
					<div class="row">
						<div class="3u">
							<a href="#" class="image"><img src="images/team/vincent.jpg" alt=""></a>
							<h3>Vincent Coelen</h3>
							<h4>Team Leader</h4>
							<p>Communication inter-robots.<br/>
							Communication RefereeBox.</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="images/team/cyril.1.jpg" alt=""></a>
							<h3>Cyril Smagghe</h3>
							<h4>Team Boudeur</h4>
							<p>Ordonnaceur haut niveau (stratégie).<br />
							</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="images/team/elise.2.jpg" alt=""></a>
							<h3>Elise Tissot</h3>
							<h4>Team Loucheuse</h4>
							<p>Superviseur de navigation avec évitement d'obstacles.</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="images/team/thomas.1.jpg" alt=""></a>
							<h3>Thomas Danel</h3>
							<h4>Team Cuistot</h4>
							<p>Localisation, détection des machines et détection d'obstacles mobiles.</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="images/team/valentin.jpg" alt=""></a>
							<h3>Valentin Vergez</h3>
							<h4>Team Coiffeur</h4>
							<p>Traitement d'images, simulateur et recherche de chemins.</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="images/team/sandra.2.jpg" alt=""></a>
							<h3>Sandra Hage</h3>
							<h4>Team Commentatrice</h4>
							<p>Ordonnanceur de tâches.<br />
							Responsable de la communication d'équipe.</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="images/team/vianney.jpg" alt=""></a>
							<h3>Vianney Payelle</h3>
							<h4>Team Newbie</h4>
							<p>Jeune padawan en formation.</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="images/placeholder.png" alt=""></a>
							<h3>Maybe You</h3>
							<!-- <h4>Why Not ?</h4> -->
							<p><a href="contact.html" class="button alt">Nous contacter</a></p>
						</div>
					</div>
				</section>
			</div>

	<!-- Footer -->
		<div id="footer">
			<section class="container">
				<header class="major">
					<h2>Suivez nous</h2>
					<span class="byline">Retrouvez nous sur nos différents médias</span>
				</header>
				<ul class="icons">
					<li class="active"><a href="https://www.facebook.com/polytechrobocupteam" class="fa fa-facebook" target="_blank"><span>Facebook</span></a></li>
					<li><a href="https://github.com/PyroTeam" class="fa fa-github" target="_blank"><span>Github</span></a></li>
				</ul>
				<hr />
			</section>
			
			<!-- Copyright -->
				<div id="copyright">
					<i class="fa fa-copyright"></i> PolYtech RObocup TEAM - All rights reserved <br />
					Design by <a href="http://templated.co">TEMPLATED</a>
				</div>			
		</div>

	</body>
</html>