/* Imports */
@import url("font-awesome.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
/* Colors */
/* Basic */
/* line 22, ../sass/myStyle.scss */
body {
  background: #222222;
}

/* line 26, ../sass/myStyle.scss */
body.loading * {
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}

/* line 39, ../sass/myStyle.scss */
body, input, select, textarea {
  color: #555555;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  line-height: 1.65em;
}

/* line 47, ../sass/myStyle.scss */
a {
  color: #002395;
  text-decoration: underline;
}

/* line 52, ../sass/myStyle.scss */
strong, b {
  font-weight: 700;
}

/* line 56, ../sass/myStyle.scss */
em, i {
  font-style: italic;
}

/* line 60, ../sass/myStyle.scss */
p, ul, ol, dl, table, blockquote {
  margin: 0 0 2em 0;
}

/* line 64, ../sass/myStyle.scss */
p {
  line-height: 1.8em;
}

/* line 68, ../sass/myStyle.scss */
p.medium {
  font-size: 1.4em;
}

/* line 72, ../sass/myStyle.scss */
h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: 700;
}

/* line 77, ../sass/myStyle.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

/* line 82, ../sass/myStyle.scss */
h2 {
  font-size: 1.5em;
}

/* line 86, ../sass/myStyle.scss */
h3 {
  font-size: 1.25em;
}

/* line 90, ../sass/myStyle.scss */
sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

/* line 96, ../sass/myStyle.scss */
sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

/* line 102, ../sass/myStyle.scss */
hr {
  border-top: solid 1px #002395;
  border: 0;
  margin-bottom: 1.5em;
}

/* line 108, ../sass/myStyle.scss */
blockquote {
  border-left: solid 0.5em #002395;
  font-style: italic;
  padding: 1em 0 1em 2em;
}

/* line 114, ../sass/myStyle.scss */
section.special, article.special {
  text-align: center;
}

/* line 118, ../sass/myStyle.scss */
header.major {
  padding-bottom: 3em;
  text-align: center;
  text-transform: uppercase;
}

/* line 124, ../sass/myStyle.scss */
header.major h2 {
  font-size: 2.6em;
  font-weight: 700;
}

/* line 129, ../sass/myStyle.scss */
header.major .byline {
  display: block;
  padding-top: 1em;
  letter-spacing: 1px;
  font-size: 1.4em;
}

/* line 136, ../sass/myStyle.scss */
footer > :last-child {
  margin-bottom: 0;
}

/* line 140, ../sass/myStyle.scss */
footer.major {
  padding-top: 3em;
}

/* Form */
/* line 146, ../sass/myStyle.scss */
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: none;
  border: solid 1px #002395;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0.75em;
  text-decoration: none;
  width: 100%;
}

/* line 165, ../sass/myStyle.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #002395;
}

/* line 172, ../sass/myStyle.scss */
input[type="text"],
input[type="password"],
input[type="email"] {
  line-height: 1em;
}

/* line 178, ../sass/myStyle.scss */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
  position: relative;
  top: 3px;
}

/* line 185, ../sass/myStyle.scss */
:-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

/* line 190, ../sass/myStyle.scss */
::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

/* line 195, ../sass/myStyle.scss */
:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

/* line 200, ../sass/myStyle.scss */
.formerize-placeholder {
  color: rgba(85, 85, 85, 0.5) !important;
}

/* Image */
/* line 206, ../sass/myStyle.scss */
.image {
  border: 0;
  position: relative;
}

/* line 211, ../sass/myStyle.scss */
.image.fit {
  display: block;
}

/* line 215, ../sass/myStyle.scss */
.image.fit img {
  display: block;
  width: 100%;
}

/* line 220, ../sass/myStyle.scss */
.image.feature {
  display: block;
  margin: 0 0 2em 0;
}

/* line 225, ../sass/myStyle.scss */
.image.feature img {
  display: block;
  width: 100%;
}

/* Icon */
/* line 232, ../sass/myStyle.scss */
.icon {
  position: relative;
}

/* line 236, ../sass/myStyle.scss */
.icon:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

/* line 246, ../sass/myStyle.scss */
.icon > .label {
  display: none;
}

/* Lists */
/* line 252, ../sass/myStyle.scss */
ol.default {
  list-style: decimal;
  padding-left: 1.25em;
}

/* line 257, ../sass/myStyle.scss */
ol.default li {
  padding-left: 0.25em;
}

/* line 261, ../sass/myStyle.scss */
ul.default {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 267, ../sass/myStyle.scss */
ul.default li {
  padding: 0.40em 0em;
}

/* line 271, ../sass/myStyle.scss */
ul.icons {
  cursor: default;
  padding-bottom: 2em;
}

/* line 276, ../sass/myStyle.scss */
ul.icons li {
  display: inline-block;
  line-height: 1em;
  padding: 0.5em 1em;
}

/* line 282, ../sass/myStyle.scss */
ul.icons li:first-child {
  padding-left: 0;
}

/* line 286, ../sass/myStyle.scss */
ul.icons li span {
  display: none;
}

/* line 290, ../sass/myStyle.scss */
ul.icons li a {
  text-decoration: none;
  font-size: 2em;
  color: inherit;
  opacity: 0.2;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

/* line 302, ../sass/myStyle.scss */
ul.icons li a:hover {
  color: inherit;
  opacity: 1;
}

/* line 308, ../sass/myStyle.scss */
ul.sponsor {
  cursor: default;
  padding-bottom: 2em;
}

/* line 313, ../sass/myStyle.scss */
ul.sponsor li {
  display: inline-block;
  line-height: 1em;
  padding: 0.5em 1em;
}

/* line 319, ../sass/myStyle.scss */
ul.sponsor li:first-child {
  padding-left: 0;
}

/* line 323, ../sass/myStyle.scss */
ul.sponsor li span {
  display: none;
}

/* line 327, ../sass/myStyle.scss */
ul.sponsor li a {
  text-decoration: none;
  font-size: 2em;
  color: inherit;
  opacity: 1.0;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

/* line 339, ../sass/myStyle.scss */
ul.sponsor li a:hover {
  color: inherit;
  opacity: 0.8;
}

/* line 344, ../sass/myStyle.scss */
ul.icons_contact {
  cursor: default;
  padding-bottom: 2em;
}

/* line 349, ../sass/myStyle.scss */
ul.icons_contact li {
  display: inline-block;
  line-height: 1em;
  padding: 0.5em 1em;
}

/* line 355, ../sass/myStyle.scss */
ul.icons_contact li:first-child {
  padding-left: 0;
}

/* line 359, ../sass/myStyle.scss */
ul.icons_contact li span {
  /*display: none;*/
}

/* line 363, ../sass/myStyle.scss */
ul.icons_contact li a {
  text-decoration: none;
  font-size: 2em;
  color: inherit;
  opacity: 0.7;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

/* line 375, ../sass/myStyle.scss */
ul.icons_contact li a:hover {
  color: inherit;
  opacity: 1;
}

/* line 380, ../sass/myStyle.scss */
ul.actions {
  cursor: default;
}

/* line 384, ../sass/myStyle.scss */
ul.actions:last-child {
  margin-bottom: 0;
}

/* line 388, ../sass/myStyle.scss */
ul.actions li {
  display: inline-block;
  padding: 0 0 0 1.5em;
}

/* line 393, ../sass/myStyle.scss */
ul.actions li:first-child {
  padding: 0;
}

/* line 397, ../sass/myStyle.scss */
ul.actions.vertical li {
  display: block;
  padding: 1.5em 0 0 0;
}

/* line 402, ../sass/myStyle.scss */
ul.actions.vertical li:first-child {
  padding: 0;
}

/* line 406, ../sass/myStyle.scss */
ul.special-icons {
  margin: 0em;
  padding: 0em;
}

/* line 411, ../sass/myStyle.scss */
ul.special-icons > li {
  position: relative;
  padding: 0.50em 0em 0.50em 0em;
}

/* line 416, ../sass/myStyle.scss */
ul.special-icons > li:before {
  position: absolute;
  left: 0;
  top: 2em;
  display: block;
  background: none;
  font-size: 2em;
  border-radius: 5px;
}

/* line 426, ../sass/myStyle.scss */
ul.special-icons > li:first-child {
  border-top: none;
}

/* line 430, ../sass/myStyle.scss */
ul.special-icons h3 {
  margin-bottom: 0.80em;
  line-height: 2em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2em;
}

/* line 438, ../sass/myStyle.scss */
ul.special-icons span {
  line-height: 190%;
}

/* line 442, ../sass/myStyle.scss */
ul.special-icons .fa {
  float: left;
  display: inline-block;
  padding-right: 1em;
  font-size: 1.4em;
  color: #002395;
}

/* line 450, ../sass/myStyle.scss */
ul.special-icons p {
  padding-left: 2.7em;
}

/* Tables */
/* line 456, ../sass/myStyle.scss */
table {
  width: 100%;
}

/* line 460, ../sass/myStyle.scss */
table.default {
  width: 100%;
}

/* line 464, ../sass/myStyle.scss */
table.default tbody tr {
  border-bottom: solid 1px #002395;
}

/* line 468, ../sass/myStyle.scss */
table.default td {
  padding: 0.5em 1em 0.5em 1em;
}

/* line 472, ../sass/myStyle.scss */
table.default th {
  font-weight: 700;
  padding: 0.5em 1em 0.5em 1em;
  text-align: left;
}

/* line 478, ../sass/myStyle.scss */
table.default thead {
  background: #555555;
  color: #fff;
}

/* Button */
/* line 485, ../sass/myStyle.scss */
input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: none;
  border-radius: none;
  border: 2px solid;
  border-color: #002395;
  color: #002395;
  cursor: pointer;
  display: inline-block;
  padding: 0.90em 1.2em;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4em;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

/* line 514, ../sass/myStyle.scss */
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
  background: #002395;
  color: white;
}

/* line 522, ../sass/myStyle.scss */
input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
.button.alt {
  border-color: inherit;
  color: inherit;
}

/* line 530, ../sass/myStyle.scss */
input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
input[type="button"].alt:hover,
.button.alt:hover {
  background: white;
  color: #002395;
}

/* line 538, ../sass/myStyle.scss */
input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit {
  width: 100%;
}

/* line 545, ../sass/myStyle.scss */
input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
.button.small {
  font-size: 0.8em;
}

/* Wrapper */
/* line 554, ../sass/myStyle.scss */
.wrapper {
  padding: 6em 0em 4em 0em;
}

/* line 558, ../sass/myStyle.scss */
.wrapper.header {
  padding: 0em;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: black;
  width: 100%;
}

/* line 567, ../sass/myStyle.scss */
.wrapper.banner {
  padding: 0em;
  height: 100vh;
  background-color: white;
}

/* line 573, ../sass/myStyle.scss */
.wrapper.banner > .container {
  height: 100%;
}

/*
		.wrapper.association {
			background-color: orange;
		}

			.wrapper.association .major {
				text-align: left !important;
			}

				.wrapper.association .major h2 {
					display: block;
					margin-bottom: 0.70em;
					letter-spacing: 1px;
					line-height: 1.4em;
					text-transform: uppercase;
					font-size: 1.8em;
					font-weight: 400;
				}

				.wrapper.association .major .byline {
					letter-spacing: normal;
					line-height: 1.6em;
					text-transform: capitalize;
					font-size: 1.4em;
				}

			.wrapper.association h3 {
				display: block;
				margin-bottom: 1em;
				letter-spacing: 1px;
				line-height: 1.4em;
				text-transform: uppercase;
				font-size: 1.6em;
				font-weight: 400;
			}

			.wrapper.association .image {
				display: block;
				width: 60%;
				margin: 0em auto 2em auto;
			}

				.wrapper.association .image img {
					border-radius: 50%;
					border: 10px solid;
					border-color: white;
				}
*/
/* line 625, ../sass/myStyle.scss */
.wrapper.association {
  background: #002395;
  text-align: center;
  color: white;
}

/* line 631, ../sass/myStyle.scss */
.wrapper.association .image {
  display: block;
  width: 60%;
  margin: 0em auto 2em auto;
}

/* line 637, ../sass/myStyle.scss */
.wrapper.association .image img {
  border-radius: 50%;
  border: 10px solid;
  border-color: white;
}

/*
		.wrapper.robocup {
			padding-bottom: 6em;
			background: $couleur-principale;
			text-align: center;
			color: white;
		}

			.wrapper.robocup .container {
				padding-left: 6em;
				padding-right: 6em;
			}

			.wrapper.robocup p {
				text-align: justify;
			}

			.wrapper.robocup ul.special-icons .fa {
				color: white;
			}
*/
/* line 664, ../sass/myStyle.scss */
.wrapper.robocup {
  background: #f2f2f2;
}

/* line 668, ../sass/myStyle.scss */
.wrapper.robocup .major {
  text-align: left !important;
}

/* line 672, ../sass/myStyle.scss */
.wrapper.robocup .major h2 {
  display: block;
  margin-bottom: 0.70em;
  letter-spacing: 1px;
  line-height: 1.4em;
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 400;
}

/* line 682, ../sass/myStyle.scss */
.wrapper.robocup .major .byline {
  letter-spacing: normal;
  line-height: 1.6em;
  text-transform: capitalize;
  font-size: 1.4em;
}

/* line 689, ../sass/myStyle.scss */
.wrapper.robocup h3 {
  display: block;
  margin-bottom: 1em;
  letter-spacing: 1px;
  line-height: 1.4em;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 400;
}

/* line 699, ../sass/myStyle.scss */
.wrapper.logistic {
  padding-bottom: 6em;
  background: #002395;
  text-align: center;
  color: white;
}

/* line 706, ../sass/myStyle.scss */
.wrapper.logistic .container {
  padding-left: 6em;
  padding-right: 6em;
}

/* line 711, ../sass/myStyle.scss */
.wrapper.logistic p {
  /*font-size: 1.6em;*/
  text-align: justify;
}

/* line 716, ../sass/myStyle.scss */
.wrapper.project {
  background: white;
}

/* line 720, ../sass/myStyle.scss */
.wrapper.footer {
  background: grey;
}

/* Header */
/* line 726, ../sass/myStyle.scss */
#header {
  color: white;
  height: 4em;
  background: rgba(0, 0, 0, 0.8);
}

/* line 732, ../sass/myStyle.scss */
#header .container {
  position: relative;
}

/* line 736, ../sass/myStyle.scss */
.homepage #logo {
  display: none;
}

/* line 740, ../sass/myStyle.scss */
.homepage #main-nav {
  position: relative;
  right: none;
  text-align: center;
}

/* line 746, ../sass/myStyle.scss */
#logo {
  line-height: 2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 400;
}

/* line 754, ../sass/myStyle.scss */
#logo h1 {
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* line 760, ../sass/myStyle.scss */
#logo a {
  color: inherit;
}

/* line 764, ../sass/myStyle.scss */
#main-nav {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 770, ../sass/myStyle.scss */
#main-nav > ul {
  margin: 0;
}

/* line 774, ../sass/myStyle.scss */
#main-nav a:hover {
  text-decoration: underline;
}

/* line 778, ../sass/myStyle.scss */
#main-nav > ul > li {
  border-radius: 4px;
  display: inline-block;
  margin-left: 0.5em;
  padding: 0 0.5em;
}

/* line 785, ../sass/myStyle.scss */
#main-nav > ul > li a {
  color: inherit;
  line-height: 4em;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
}

/* line 795, ../sass/myStyle.scss */
#main-nav > ul > li:first-child {
  margin-left: 0;
}

/* line 799, ../sass/myStyle.scss */
#main-nav > ul > li.active a {
  color: white;
}

/* line 803, ../sass/myStyle.scss */
#main-nav > ul > li.active a:hover {
  color: white;
}

/* line 807, ../sass/myStyle.scss */
#main-nav > ul > li > ul {
  display: none;
}

/* Dropotron */
/* line 813, ../sass/myStyle.scss */
.dropotron {
  top: 2em;
  background: rgba(32, 32, 32, 0.75);
  border-radius: 4px;
  color: inherit;
  min-width: 12em;
  padding: 1em 0;
  color: white;
}

/* line 823, ../sass/myStyle.scss */
.dropotron > li {
  line-height: 2em;
  padding: 0 1em;
}

/* line 828, ../sass/myStyle.scss */
.dropotron > li > a {
  color: inherit;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 835, ../sass/myStyle.scss */
.dropotron > li.active > a, .dropotron > li:hover > a {
  color: inherit;
  text-decoration: underline;
}

/* line 840, ../sass/myStyle.scss */
.dropotron.level-0 {
  border-radius: 0 0 4px 4px;
  font-size: 1em;
  margin-left: -0.5em;
}

/* Banner */
/* line 848, ../sass/myStyle.scss */
#banner {
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: #FFFFFF url(../images/arpl/logo_wide.png) no-repeat;
  background-size: 100%;
  background-position: center center;
  height: 100%;
}

/* line 858, ../sass/myStyle.scss */
#banner.pyro {
  background: #FFFFFF url(../images/pyro/logo_txt.png) no-repeat;
  background-size: 100%;
  background-position: center center;
}

/* line 865, ../sass/myStyle.scss */
#banner .container {
  padding: 0em 8em;
}

/* line 869, ../sass/myStyle.scss */
#banner h2 {
  display: inline-block;
  padding: 0.50em 0.30em;
  background: #002395;
  font-size: 3em;
  font-weight: 400;
}

/* line 877, ../sass/myStyle.scss */
#banner span, #banner p {
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 300;
}

/* line 885, ../sass/myStyle.scss */
#banner span {
  padding: 1em 0em;
}

/* Main */
/* line 891, ../sass/myStyle.scss */
#main {
  padding: 4em 0;
}

/* line 895, ../sass/myStyle.scss */
#main #content .major, #main #sidebar .major {
  text-align: left;
}

/* line 899, ../sass/myStyle.scss */
#main #sidebar section {
  margin-top: 4em;
}

/* line 903, ../sass/myStyle.scss */
#main #sidebar section:first-child {
  margin-top: 0;
}

/* line 907, ../sass/myStyle.scss */
#main #sidebar .major {
  padding-bottom: 2em;
}

/* line 911, ../sass/myStyle.scss */
#main #sidebar .major h2 {
  font-size: 1.8em;
}

/* Footer */
/* line 917, ../sass/myStyle.scss */
#footer {
  padding: 6em 0 2em 0;
  text-align: center;
  color: white;
}

/* line 923, ../sass/myStyle.scss */
#footer hr {
  border-bottom: 1px solid;
  border-color: inherit;
  opacity: .05;
}

/* line 929, ../sass/myStyle.scss */
#footer .major h2 {
  color: inherit;
}

/* line 933, ../sass/myStyle.scss */
#footer .major .byline {
  color: inherit;
  opacity: .4;
}

/* line 938, ../sass/myStyle.scss */
#footer .copyright {
  margin-top: 3em;
  text-align: center;
}

/* Copyright */
/* line 945, ../sass/myStyle.scss */
#copyright {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  padding: 3em 0em 3em 0em;
  color: inherit;
  opacity: .40;
}

/* line 954, ../sass/myStyle.scss */
#copyright a {
  text-decoration: none;
  color: inherit;
}

/* Extra */
/* line 961, ../sass/myStyle.scss */
#extra1 h2 {
  display: block;
  margin-bottom: 1em;
  letter-spacing: 1px;
  line-height: 1.4em;
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 400;
}

/* line 971, ../sass/myStyle.scss */
#extra1 h3 {
  display: block;
  margin-bottom: 1em;
  letter-spacing: 1px;
  line-height: 1.4em;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 400;
}

/* Team */
/* line 983, ../sass/myStyle.scss */
#team h3 {
  margin-bottom: 0.50em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}
